html {
  height: 100vh;
}

body {
  padding: 10px;
  font-family: sans-serif;
  height: 100vh;
  background:  linear-gradient(to bottom, rgb(242, 192, 255), rgb(255, 255, 255));

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
}

.container {
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgb(206, 8, 255), rgb(239, 173, 255));

  padding: 10px;
}

.goodbye {
  text-align: center;
}